#productsBlock{
    height:auto;
}

.textCenter{
    text-align: center !important;
}

.page-item-active{
    border: 1px solid rgb(77, 173, 67) !important; 
    background-color:rgb(77, 173, 67) !important; 
    color:white !important;
}

select option{
    background-color: rgb(77, 173, 67,0.5) !important;
}