// search button
.btn-outline-secondary{
    border-color: #CFD8DC !important;
}
.btn-outline-secondary:hover{
    background-color:rgb(77, 173, 67) !important;
}
.fas{
    color:white !important;
}

.dropdown-item:hover{
    background-color: rgb(77, 173, 67,0.5) !important;
}

//searchbar
#searchBar{
    color:white !important;
}
#searchBar:hover{
    color:none !important;
}

// nav-item text color
.navbarTextColor{
    color:white !important;
}
// hover over nav-items
.navbarTextColor:hover{
    color:#9ea8ad !important;
}
